//////////////// Dimensions
$personal_info_w    : 300px;
$description_w      : 0.7;

//////////////// Colors
$bg_c      :  #191919;
$name_c    :  #0C7BF2;
$title_c   :  darken(#0CF26D,  12%);
$social_c  :  #0DBFFC;

//////////////// Configuration
$social_num  :  3;
$offset      :  2;

//////////////// Font Sizes
$factor : 1 + 0.1;
$f_s_1  : 1em * $factor;
$f_s_2  : $f_s_1 * $factor;
$f_s_3  : $f_s_2 * $factor;
$f_s_4  : $f_s_3 * $factor;
$f_s_5  : $f_s_4 * $factor;
$f_s_6  : $f_s_5 * $factor;
$f_s_7  : $f_s_6 * $factor;
$f_s_8  : $f_s_7 * $factor;
$f_s_9  : $f_s_8 * $factor;
$f_s_10 : $f_s_9 * $factor;
$f_s_11 : $f_s_10 * $factor;
$f_s_12 : $f_s_11 * $factor;
$f_s_13 : $f_s_12 * $factor;
$f_s_14 : $f_s_13 * $factor;
$f_s_15 : $f_s_14 * $factor;
$f_s_16 : $f_s_15 * $factor;
