@import 'constants';

body {
    background: {
        image: url('../../images/portfolio_bg_1.png');
    }
}

.center {
    width: 100%;
    margin: 0 auto;
}

.f_s_1 { font-size: $f_s_1; }
.f_s_2 { font-size: $f_s_2; }
.f_s_3 { font-size: $f_s_3; }
.f_s_4 { font-size: $f_s_4; }
.f_s_5 { font-size: $f_s_5; }
.f_s_6 { font-size: $f_s_6; }
.f_s_7 { font-size: $f_s_7; }
.f_s_8 { font-size: $f_s_8; }
.f_s_9 { font-size: $f_s_9; }
.f_s_10 { font-size: $f_s_10; }
.f_s_11 { font-size: $f_s_11; }
.f_s_12 { font-size: $f_s_12; }
.f_s_13 { font-size: $f_s_13; }
.f_s_14 { font-size: $f_s_14; }
.f_s_15 { font-size: $f_s_15; }
