@import "compass/css3/hyphenation";
@import 'constants';

$final_s_c : desaturate($social_c, 90%);

body {
    background: {
        color: $bg_c;
    }
    font-family: 'Lato', sans-serif;
}

#personal-information {
    background-color: hsla(0, 0, 92, 0.1);
}
#name {
    color: $name_c;
}
#title {
    color: $title_c;
}
.text p, #mail {
    color: lighten($bg_c, 30%);
    .ion-ios7-email {
        color: lighten($bg_c, 40%);
        &:hover {
            color: lighten($bg_c, 55%);
        }
    }
    .ion-ios7-minus-empty {
        color: lighten($bg_c, 17%);
    }
}

#linkedin, #github, #twitter {
    color: $final_s_c;
    i:hover {
        color: lighten($final_s_c, 20%);
    }
}
.arial {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 130%;
}

.center {
    text-align: center;
}

.f_s_1 { font-size: $f_s_1; }
.f_s_2 { font-size: $f_s_2; }
.f_s_3 { font-size: $f_s_3; }
.f_s_4 { font-size: $f_s_4; }
.f_s_5 { font-size: $f_s_5; }
.f_s_6 { font-size: $f_s_6; }
.f_s_7 { font-size: $f_s_7; }
.f_s_8 { font-size: $f_s_8; }
.f_s_9 { font-size: $f_s_9; }
.f_s_10 { font-size: $f_s_10; }
.f_s_11 { font-size: $f_s_11; }
.f_s_12 { font-size: $f_s_12; }
.f_s_13 { font-size: $f_s_13; }
.f_s_14 { font-size: $f_s_14; }
.f_s_15 { font-size: $f_s_15; }
